<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="MsTest" />
  </specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.10.0.0" newVersion="3.10.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="URL" value="https://demo.alissia.fr/"/>
    <add key="URLFormation" value="https://formation.alissia.fr"/>
    <add key="FolderDownloadsPath" value="C:\Users\insafki\source\repos\AlissiaE2ETest\AlissiaE2ETest\Downloads"/>
    <add key="FolderScreeanshotPath" value="C:\Users\insafki\source\repos\AlissiaE2ETest\AlissiaE2ETest\Screenshots\ErrorScreenshots\"/>
    <add key="FolderExtentReportPath" value="C:\Users\insafki\source\repos\AlissiaE2ETest\AlissiaE2ETest\Reports\ExtentReport\"/>
    <add key="DownloadsPathFolder" value="C:\Users\insafki\Downloads\"/>
  </appSettings>
  
</configuration>